@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.gear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3em;
  width: 3em;
  background-color: transparent;
}

#headerGear {
  margin: 0 10px 0 10px;
  animation-name: spinGearOne;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.tooth {
  position: absolute;
  width: 0.45em;
  height: 3em;
  background-color: rgb(150, 150, 150);
}

.toothTwo {
  transform: rotate(45deg);
}

.toothThree {
  transform: rotate(90deg);
}

.toothFour {
  transform: rotate(135deg);
}

.base {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border: 0.5em solid rgb(150, 150, 150);
  border-radius: 50px;
  z-index: 1;
}

@keyframes spinGearOne {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* HEADER */

#header {
  position: fixed;
  width: 100vw;
  background-color: transparent;
  transition: 0.3s;
  z-index: 2;
  margin: 0 !important;
}

#header:hover {
  background-color: rgb(115, 157, 245) !important;
}

#navbarNav {
  justify-content: center;
}

#navbarNav ul {
  align-items: center;
}

#navbarNav ul li a {
  color: whitesmoke !important;
}

#logo {
  position: absolute;
  top: 2px;
  height: 2/7em;
  width: 2.7em;
}

/* SplashPage */

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)),
    url(assets/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.titleContainer {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  width: 100%;
}

.display-4 {
  width: 100%;
  font-size: 15vw;
  color: rgba(245, 245, 245, 0.9);
  text-shadow: 0.5em 0.5em rgba(255, 215, 0, 0.3);
  text-align: center;
}

.lead {
  position: relative;
  color: rgba(245, 245, 245, 0.8);
  font-size: 5vh;
  margin-right: 10px;
  top: 50vh;
  right: 15vw;
}

.lineContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}

#aboutLines {
  top: -4em;
}

.leftLine {
  height: 1px;
  background-color: rgba(255, 215, 0, 1);
  border: 1px solid rgba(255, 215, 0, 1);
  width: 35vw;
}

.rightLine {
  height: 1px;
  background-color: rgba(255, 215, 0, 1);
  border: 1px solid rgba(255, 215, 0, 1);
  width: 35vw;
}

.symbol {
  font-size: 20px;
}

.movingArrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#arrowOne {
  width: 1em;
  height: 1em;
  border-bottom: 4px solid rgb(115, 157, 245);
  border-right: 4px solid rgb(115, 157, 245);
  transform: rotate(45deg);
  animation: moveDiamonOne ease 2s;
  -webkit-animation: movearrowOne ease 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes movearrowOne {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#arrowTwo {
  width: 2em;
  height: 2em;
  border-bottom: 4px solid rgb(115, 157, 245);
  border-right: 4px solid rgb(115, 157, 245);
  margin-top: -7px;
  opacity: 0;
  transform: rotate(45deg);
  animation: moveDiamonTwo ease 2s;
  -webkit-animation: movearrowTwo ease 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

@keyframes movearrowTwo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#arrowThree {
  width: 3em;
  height: 3em;
  border-bottom: 4px solid rgb(115, 157, 245);
  border-right: 4px solid rgb(115, 157, 245);
  margin-top: -7px;
  opacity: 0;
  transform: rotate(45deg);
  animation: moveDiamonThree ease 2s;
  -webkit-animation: movearrowThree ease 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0.4s;
}

@keyframes movearrowThree {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#about {
  display: flex;
  flex-direction: column;
}

#about h1 {
  position: relative;
  color: rgb(130, 130, 130);
  font-size: 4em;
  margin-bottom: 1em;
}

#aboutContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 60vh;
}

#picsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 23em;
  max-height: 24em;
  min-width: 23em;
  max-width: 24em;
  margin-bottom: 1em;
}

.picHolder {
  position: relative;
  width: 33%;
  height: 8em;
  display: flex;
  flex-wrap: wrap;
}

.aboutPics {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.picTint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: rgb(100, 137, 216);
  font: 10px sans-serif;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-color: white;
}

.picHolder:hover .picTint {
  opacity: 0.9 !important;
}

#mainText {
  width: 30em;
  margin-right: 2em;
}

#mainText p {
  text-align: center;
  width: 100%;
  margin: 0;
}

#resume {
  font-size: 1.1em;
  line-height: 5em;
}

#phi {
  font-size: 8em;
  color: rgb(150, 150, 150);
}

#philosophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  /* min-height: 54em; */
  width: 100%;
}

#philosophy h1 {
  justify-self: center;
}

#philContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* min-height: 30vh; */
}

#philosophy h1 {
  font-size: 4em;
  color: rgb(130, 130, 130);
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1em;
}

.category {
  display: flex;
  flex-direction: column;
  height: 55vh;
  position: relative;
  margin-bottom: 0;
}

.orbit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19em;
  min-height: 19em;
  border-radius: 16em;
  border: 1px solid rgba(255, 215, 0, 1);
  margin: 0 2em 0 2em;
  /* z-index: -3; */
}

.orbit:hover {
  box-shadow: 0 0 3em rgba(255, 215, 0, 1) !important;
  cursor: pointer;
}

.bigBase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 15em;
  border-radius: 15em;
  background-color: rgb(115, 157, 245);
}

.bigBase p {
  font-size: 3em;
  color: rgba(255, 215, 0, 1);
}

.categoryContent {
  display: none;
  justify-content: center;
  width: 100%;
  padding: 1em;
  position: absolute;
  top: 350px;
  width: 100%;
  border: 3px dotted rgb(115, 157, 245);
  /* border-radius: 10px; */
}

.spoke {
  position: absolute;
  height: 16.1em;
  border: 1px solid rgb(115, 157, 245);
  width: 7px;
  background-color: rgb(115, 157, 245);
  z-index: -1;
}

.spoke2 {
  position: absolute;
  height: 16.1em;
  border: 1px solid rgb(115, 157, 245);
  width: 7px;
  background-color: rgb(115, 157, 245);
  z-index: -1;
}

.spoke3 {
  position: absolute;
  height: 16.1em;
  border: 1px solid rgb(115, 157, 245);
  width: 7px;
  background-color: rgb(115, 157, 245);
  z-index: -1;
}

.orbitGearContainer {
  display: flex;
  justify-content: space-between;
  width: 23em;
  position: absolute;
  animation-play-state: paused;
  animation-name: spinOrbit;
  animation-duration: 12.78s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orbitGear {
  margin: 0 10px 0 10px;
  animation-play-state: paused;
  animation-name: spinOrbitGear;
  animation-duration: 2.434s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orbitBase {
  border-color: rgb(115, 157, 245);
  background-color: rgb(255, 217, 0);
}

.orbitTooth {
  background-color: rgb(115, 157, 245);
}

#code p {
  font-size: 3em;
  color: rgb(115, 157, 245);
}

@keyframes spinOrbitGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinOrbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gearBox {
  display: flex;
}

#gear1 {
  position: relative;
  right: -0.1em;
}

.baseLeft {
  background-color: whitesmoke;
  border: 0.5em solid rgb(150, 150, 150);
}

.leftGear {
  background-color: rgb(150, 150, 150);
}

#gear2 {
  position: relative;
  left: -0.1em;
  transform: rotate(22.5deg);
}

.rightGear {
  background-color: rgb(150, 150, 150);
}

.baseRight {
  border: 0.5em solid rgb(150, 150, 150);
  background-color: whitesmoke;
}

/* #projectlines {
    position: absolute;
} */

#projectContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 4em;
}

#portfolio {
  font-size: 4em;
  color: rgb(130, 130, 130);
  font-family: "Ubuntu", sans-serif;
}

#projectItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 1070px) {
  .mainProjectLink img {
    position: relative;
    max-width: 33em !important;
    height: 25em !important;
    width: 100vw !important;
  }

  .projectLink img {
    max-width: 33em !important;
    width: 100vw !important;
    height: 25em;
    object-fit: cover;
  }
}

.mainProject {
  width: 70em;
  height: 30em;
  object-fit: cover;
  background-color: green;
}

.mainProjectLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.mainProjectLink img {
  position: relative;
  width: 66em;
  height: 30em;
  object-fit: cover;
}
.mainOverlay {
  color: rgb(70, 96, 151);

  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.3)
  ) !important;
}

#twoToThree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#fourToFive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projectLink {
  position: relative;
  max-width: 33em;
  max-height: 25em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.projectLink img {
  width: 33em;
  height: 25em;
  object-fit: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  text-align: center;
  color: rgb(87, 118, 187);
  font: 20px sans-serif;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.4)
  );
}

.overlay h1 {
  font-weight: bolder;
}

.projectLink:hover .overlay,
.mainProjectLink:hover .overlay {
  opacity: 1;
}

#contactLines {
  top: 1em;
  margin-bottom: 3em;
}

#contactCircle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(150, 150, 150);
  min-height: 12em;
  min-width: 12em;
  border-radius: 15em;
}

#contactTriangle {
  position: absolute;
  top: 80px;
  left: 40px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(150, 150, 150);
  height: 7em;
  width: 7em;
  transform: rotate(45deg);
  z-index: -1;
}

#contactInfo {
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

#formAndBotRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100vw;
}

#fs-frm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 45%;
  margin-bottom: 2em;
}

#full-name {
  margin: 1em 0 1em 0;
  width: 85%;
  height: 4em;
  border: none;
  border-bottom: 3px solid rgb(150, 150, 150);
  transition: 0.2s;
}

#full-name:hover {
  border-bottom: 3px solid rgb(255, 217, 0);
}

#full-name:focus {
  outline: none;
  border-color: rgb(115, 157, 245);
  box-shadow: 0 0 1em rgba(255, 215, 0, 1);
  color: rgb(41, 43, 44);
}

#email-address {
  margin: 1em 0 1em 0;
  width: 85%;
  height: 4em;
  border: none;
  border-bottom: 3px solid rgb(150, 150, 150);
  transition: 0.2s;
}

#email-address:hover {
  border-bottom: 3px solid rgb(255, 217, 0);
}

#email-address:focus {
  outline: none;
  border-color: rgb(115, 157, 245);
  box-shadow: 0 0 1em rgba(255, 215, 0, 1);
  color: rgb(41, 43, 44);
}

#message {
  margin: 1em 0 1em 0;
  width: 85%;
  /* height: 15em; */
  border: none;
  border-bottom: 3px solid rgb(150, 150, 150);
  transition: 0.2s;
}

#message:hover {
  border-bottom: 3px solid rgb(255, 217, 0);
}

#message:focus {
  outline: none;
  border-color: rgb(115, 157, 245);
  box-shadow: 0 0 0.5em rgba(255, 215, 0, 1);
  color: rgb(41, 43, 44);
}

#submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 3em;
  border-radius: 4px;
  border: rgb(115, 157, 245);
  background-color: rgb(41, 43, 44);
  color: whitesmoke;
}

#submit:hover {
  box-shadow: 0 0 1em rgba(255, 215, 0, 1);
}

#submit:focus {
  outline: none;
}

#submit:active {
  outline: none;
  box-shadow: 0 0 0 rgba(255, 215, 0, 1);
}

#links {
  display: flex;
  justify-content: space-around;
}

/* !5 Turing Machine! */

#turingBot {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  margin-bottom: 2em;
  max-width: 50%;
}

/* head details */

.headT {
  position: relative;
  display: flex;
  width: 19em;
  height: 19em;
  border: 2em solid rgb(41, 43, 44);
  background-color: transparent;
  border-radius: 2em;
}

.eyeLeft {
  position: absolute;
  width: 5em;
  height: 5em;
  border: 1em solid rgb(41, 43, 44);
  background-color: white;
  border-radius: 1em;
  left: 1.5em;
  top: 2em;
}

#leftPupil {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(41, 43, 44);
  background-color: rgb(41, 43, 44);
  top: 10px;
  left: 10px;
}

.eyeRight {
  position: absolute;
  width: 5em;
  height: 5em;
  border: 1em solid rgb(41, 43, 44);
  background-color: transparent;
  border-radius: 1em;
  right: 1.5em;
  top: 2em;
}

#rightPupil {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(41, 43, 44);
  background-color: rgb(41, 43, 44);
  top: 10px;
  left: 10px;
}

.mouth {
  position: absolute;
  width: 8.5em;
  height: 4.5em;
  border: 20px solid rgb(41, 43, 44);
  background-color: transparent;
  border-radius: 15px;
  top: 8em;
  left: 3.1em;
}

/* CPU */

.cpu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 23em;
  height: 8em;
  border: 2em solid rgb(41, 43, 44);
  background-color: transparent;
  border-radius: 1em;
  padding: 1em 1em 1em 1em;
}

.baseT {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  border-radius: 3em;
  border: 0.7em solid rgb(41, 43, 44);
  margin: 0 0.25em 0 0.25em;
}

.toothT {
  position: absolute;
  height: 3.7em;
  width: 0.5em;
  border: 0.1em solid rgb(41, 43, 44);
  background-color: rgb(41, 43, 44);
  z-index: -1;
}

.holeT {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: rgb(255, 217, 0);
  border-radius: 2.5em;
}

.baseTOdd {
  /* animation-name: spinOdd;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.baseTEven {
  transform: rotate(22.5deg);
  /* animation-name: spinEven;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.toothT2 {
  transform: rotate(45deg);
}

.toothT3 {
  transform: rotate(90deg);
}

.toothT4 {
  transform: rotate(135deg);
}

/* @keyframes spinOdd {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

@keyframes spinEven {
    from {
        transform:rotate(22.5deg);
    }
    to {
        transform:rotate(382.5deg);
    }
} */

#links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 100vw;
  margin-bottom: 1em;
}

#links a i {
  background-color: white;
  color: rgb(41, 43, 44);
  font-size: 12em;
  border-radius: 0.1em;
  transition: 0.2s;
}

#links a i:hover {
  background-color: rgb(255, 217, 0);
  color: white;
  font-size: 12em;
  border-radius: 0.1em;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(41, 43, 44);
  background-color: rgb(100, 137, 216);
  height: 4em;
  width: 100%;
  color: whitesmoke;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
}

footer a:hover {
  text-decoration: none;
  color: rgb(255, 217, 0);
}
