@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.gear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3em;
    width: 3em;
    background-color: transparent;
}

#headerGear{
    margin: 0 10px 0 10px;
    animation-name: spinGearOne;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tooth{
    position: absolute;
    width: .45em;
    height: 3em;
    background-color: rgb(150, 150, 150);
}

.toothTwo {
    transform: rotate(45deg);
}

.toothThree {
    transform: rotate(90deg);
}

.toothFour {
    transform: rotate(135deg);
    
}

.base {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border: .5em solid rgb(150, 150, 150);
    border-radius: 50px;
    z-index: 1;
}

@keyframes spinGearOne {
    from {
        transform:rotate(45deg);
    }
    to {
        transform:rotate(0deg);
    }
}

/* HEADER */

#header{
    position: fixed;
    width: 100vw;
    background-color: transparent;
    transition: .3s;
    z-index: 2;
    margin: 0 !important;
}

#header:hover{
    background-color: rgb(115, 157, 245) !important;
}

#navbarNav {
    justify-content: center;
}

#navbarNav ul{
    align-items: center;
}

#navbarNav ul li a{
    color: whitesmoke !important;
}

#logo{
    position: absolute;
    top: 2px;
    height: 2/7em;
    width: 2.7em;
}

/* SplashPage */

.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)), url(assets/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titleContainer{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    width: 100%;
}

.display-4{
    width: 100%;
    font-size: 24vw;
    color: rgba(245, 245, 245, .9);
    text-shadow: .5em .5em rgba(255, 215, 0, .3);
    text-align: center;
}

.lead{
    color: rgba(245, 245, 245, .8);
    font-size: small;
    margin-right: 10px;
}

.lineContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -62px;
    width: 100%;
}

.leftLine{
    height: 1px;
    background-color: rgba(255, 215, 0, 1);
    border: 1px solid rgba(255, 215, 0, 1);
    width: 35vw;
}


.rightLine{
    height: 1px;
    background-color: rgba(255, 215, 0, 1);
    border: 1px solidrgba(255, 215, 0, 1);
    width: 35vw;
}

.symbol{
    font-size: 20px;

}

.movingArrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#arrowOne {
    width: 1em;
    height: 1em;
    border-bottom: 4px solid rgb(115, 157, 245);
    border-right: 4px solid rgb(115, 157, 245);
    transform: rotate(45deg);
    animation: moveDiamonOne ease 2s;
    -webkit-animation: movearrowOne ease 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movearrowOne {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

#arrowTwo {
    width: 2em;
    height: 2em;
    border-bottom: 4px solid rgb(115, 157, 245);
    border-right: 4px solid rgb(115, 157, 245);
    margin-top: -7px;
    opacity: 0;
    transform: rotate(45deg);
    animation: moveDiamonTwo ease 2s;
    -webkit-animation: movearrowTwo ease 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .2s;
}

@keyframes movearrowTwo {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

#arrowThree {
    width: 3em;
    height: 3em;
    border-bottom: 4px solid rgb(115, 157, 245);
    border-right: 4px solid rgb(115, 157, 245);
    margin-top: -7px;
    opacity: 0;
    transform: rotate(45deg);
    animation: moveDiamonThree ease 2s;
    -webkit-animation: movearrowThree ease 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .4s;
}

@keyframes movearrowThree {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

#about {
    display: flex;
    flex-direction: column;
}

#about h1 {
    position: relative;
    color: rgb(130, 130, 130);
    font-size: 5em;
    margin-bottom: 1em;
}

#aboutContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
}

#picsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 24em;
    width: 24em;
}

.picHolder{
    position: relative;
    width: 8em;
    height: 8em;
    display: flex;
    flex-wrap: wrap;
}

.aboutPics{
    height: 8em;
    width: 8em;
    object-fit: cover;
}

.picTint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: rgb(100, 137, 216);
    font: 10px sans-serif;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: white;
}

.picHolder:hover .picTint {
    opacity: .9 !important;
}

#mainText {
    width: 25vw;
    margin-right: 2em;
}

#mainText p{
    text-align: center;
    width: 100%;
    margin: 0;
}

.resume{
    display: flex;
    flex-direction: column;
}

.resume h5{
    color: rgb(150, 150, 150);
    position: absolute;
}

.resume img{
    height: 25em;
    width: 18em;
}

#phi {
    font-size: 8em;
    color: rgb(150, 150, 150);
}

#philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 30vh;
    margin-bottom: 8em;
}

#philContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 30vh;
    margin-bottom: 8em;
}

#philosophy h1{
    font-size: 4em;
    color: rgb(130, 130, 130);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1em;
}

.category{
    display: flex;
    flex-direction: column;
    height: 55vh;
    position: relative;
}

.orbit{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19em;
    height: 19em;
    border-radius: 16em;
    border: 1px solid rgba(255, 215, 0, 1);
    margin: 0 2em 0 2em;
    /* z-index: -3; */
}

.orbit:hover{
    box-shadow: 0 0 3em rgba(255, 215, 0, 1)!important;
}

.bigBase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 15em;
    border-radius: 15em;
    background-color: rgb(115, 157, 245);
}

.bigBase p{
    font-size: 3em;
    color: rgba(255, 215, 0, 1);
}

.categoryContent {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 1em;
    position: absolute;
    top: 350px;
    width: 100%;
    border: 3px solid  rgb(115, 157, 245);
    border-radius: 20px;
}

.spoke{
    position: absolute;
    height: 16.1em;
    border: 1px solid rgb(115, 157, 245);
    width: 7px;
    background-color: rgb(115, 157, 245);
    z-index: -1;
}

.spoke2{
    position: absolute;
    height: 16.1em;
    border: 1px solid rgb(115, 157, 245);
    width: 7px;
    background-color: rgb(115, 157, 245);
    z-index: -1;
}

.spoke3{
    position: absolute;
    height: 16.1em;
    border: 1px solid rgb(115, 157, 245);
    width: 7px;
    background-color: rgb(115, 157, 245);
    z-index: -1;
}

.orbitGearContainer{
    display: flex;
    justify-content: space-between;
    width: 23em;
    position: absolute;
    animation-play-state: paused;
    animation-name: spinOrbit;
    animation-duration: 12.78s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.orbitGear{
    margin: 0 10px 0 10px;
    animation-play-state: paused;
    animation-name: spinOrbitGear;
    animation-duration: 2.434s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.orbitBase {
    border-color:rgb(115, 157, 245);
    background-color:  rgb(255, 217, 0);
}

.orbitTooth{
    background-color:rgb(115, 157, 245);
}

#code{
    background-color: rgba(255, 215, 0, 1);
}

#code p{
    font-size: 3em;
    color: rgb(115, 157, 245);
}

@keyframes spinOrbitGear{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spinOrbit {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#gearBox{
    display: flex;
}

#gear1 {
    position: relative;
    right: -.1em;
}

.baseLeft{
    background-color: whitesmoke;
    border: .5em solid rgb(150, 150, 150);

}

.leftGear {
    background-color: rgb(150, 150, 150);
}

#gear2{
    position: relative;
    left: -.1em;
    transform: rotate(22.5deg);
}

.rightGear {
    background-color: rgb(150, 150, 150);
}

.baseRight {
    border: .5em solid rgb(150, 150, 150);
    background-color: whitesmoke;
}

#projectContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    margin-bottom: 4em;
}

#portfolio{
    font-size: 4em;
    color: rgb(130, 130, 130);
    font-family: 'Ubuntu', sans-serif;
}

#projectItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#oneToThree{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#fourToSix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectLink{
    position: relative;
    width: 23em;
    height: 27em;
    display: flex;
    flex-wrap: wrap;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    text-align: center;
    color: rgb(100, 137, 216);
    font: 20px sans-serif;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
    transition: opacity .5s ease;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .1));
}

.overlay h1{
    font-weight: bolder;
}

.projectLink:hover .overlay {
    opacity: .9;
}

.projectLink img{
    width: 23em;
    height: 27em;
    object-fit: cover;
}

#contactLines{
    top: 1em;
    margin-bottom: 3em;
}

#contactCircle {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    height: 12em;
    width: 12em;
    border-radius: 15em;
}

#contactTriangle{
    position: absolute;
    top: 80px;
    left: 40px;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    height: 7em;
    width: 7em;
    transform: rotate(45deg);
    z-index: -1;
}

#contactInfo{
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

#my-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#senderEmail{
    margin: 3em 0 3em 0;
    width: 65%;
    height: 4em;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 1em;
    text-align: center;
}

#senderEmail:focus {
    outline: none;
    border-color: rgb(115, 157, 245);
    box-shadow: 0 0 1em rgba(255, 215, 0, 1);
    color: rgb(41, 43, 44);
}

#message {
    margin: 3em 0 3em 0;
    width: 65%;
    height: 15em;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 1em;
    text-align: center;
}

#message:focus {
    outline: none;
    border-color: rgb(115, 157, 245);
    box-shadow: 0 0 .5em rgba(255, 215, 0, 1);
    color: rgb(41, 43, 44);
}

#my-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 3em;
    border-radius: 3em;
    border: rgb(115, 157, 245);
    background-color: rgb(115, 157, 245);
    color: whitesmoke;
}

#my-form-button:hover {
    box-shadow: 0 0 .5em rgba(255, 215, 0, 1);
}

#my-form-button:focus{
    outline: none;
}

#my-form-button:active{
    outline: none;
    box-shadow: 0 0 0 rgba(255, 215, 0, 1);
}

#links{
    display: flex;
    justify-content: space-around;
}

#farewell{
    display: flex;
    justify-content: center;
}

#farewell img{
    height: 24em;
    width: 24em;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(41, 43, 44);
    background-color: rgb(100, 137, 216);
    height: 4em;
    width: 100%;
    color: whitesmoke;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
}

footer a:hover{
    text-decoration: none;
    color: rgb(255, 217, 0);
}